<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.conan.persistence.BoardMapper">
<!-- namespace는 interface 위치를 적어주는것 , 그래서 현재 xml파일도 resources폴더의 org.conan의 persistence
폴더 안에다가 넣어주어야함 ,, xml은 구현하는곳, interface는 선언하는곳-->
<select id="getListWithPaging" resultType="org.conan.domain.BoardVO">
	<!-- select * from tbl_board where BNO>0 -->
	<!-- select * from tbl_board limit 0,10 -->
	<![CDATA[select * from tbl_board limit #{pageStart}, #{amount}]]>
</select>
<select id="getList" resultType="org.conan.domain.BoardVO">
 select * from tbl_board where BNO>0
</select>
  <!-- #{} 는 mybatis 문법인데 ? 썼던 데에 쓴다고 생각하면됨 -->
  <insert id="insert">
  insert into tbl_board(title,content,writer)
  values ( #{title}, #{content}, #{writer})
  </insert>
  <select id="read" resultType="org.conan.domain.BoardVO">
  select * from tbl_board where bno=#{bno}
  </select>
  <delete id="delete">
  delete from tbl_board where bno=#{bno}
  </delete>
  <update id="update">
  update tbl_board
  set title=#{title},
  content=#{content},
  updateDate = now()
  where bno=#{bno}
  </update>
  <insert id="insertSelectKey">
	insert into tbl_board(title, content, writer)
	values (#{title}, #{content}, #{writer})
	<selectKey resultType="long" keyProperty="bno" order="AFTER">
	SELECT LAST_INSERT_ID()
	</selectKey>
</insert>
</mapper>
